---

- name: Run OSX configuration command (#1/3) - safe for work
  shell: "{{ item }}"
  loop: "{{ sys_conf_commands }}"

# TODO reactivate as soon as working once again
# - name: Run OSX configuration command (#2/3) - as user only for private use
#   shell: "{{ item }}"
#   loop: "{{ sys_conf_commands_private }}"
#   tags:
#     - corporate-do-not

- name: Run OSX configuration command (#3/3) - as root
  shell: "{{ item }}"
  loop: "{{ sys_conf_commands_root }}"
  become: yes
  tags:
    - corporate-do-not

- name: Copy SMB config /etc/nsmb.conf
  copy:
    src: "{{ role_path }}/files/nsmb.conf"
    dest: "/etc/nsmb.conf"
    force: no
  become: yes
  tags:
    - corporate-do-not

- name: Create directory /usr/local/bin/..
  file:
    path: /usr/local/bin
    state: directory
    owner: "{{ ansible_real_user_id }}"
    group: "{{ ansible_real_group_id }}"
    mode: '0755'
  become: yes

- name: Copy user shell scripts to local /usr/local/bin/..
  copy:
    src:  "{{ role_path }}/files/{{item}}"
    dest: "/usr/local/bin/{{item}}"
  loop:
    - osx_notify.sh
    - osx_screen_align.sh
  tags:
    - corporate-do-not

- name: Change owner and mode for files in /usr/local/bin/..
  file:
    path: /usr/local/bin/{{item}}
    state: file
    owner: "{{ ansible_real_user_id }}"
    group: "{{ ansible_real_group_id }}"
    mode: '0755'
  become: yes
  loop:
    - osx_notify.sh
    - osx_screen_align.sh

- name: Missing manuel stepps [DO THIS MANUALLY]
  debug:
    msg:
      - "Status Menu"
      - " -> Power source / Battery"
      - "    [x] Show percentage"
      - "System Preferences"
      - " -> Apple ID"
      - "    Sign In (If not done)"
      - " -> General"
      - "    Prefer tabs: always"
      - "    [x] Ask to keep changes when closing documents"
      - "    Resent items: None"
      - "    [ ] Allow Handoff between this Mac and your iCloud devices"
      - " -> Desktop & Screen Saver"
      - "   -> Desktop"
      - "     Solid Colors = Blue"
      - "   -> Screen Saver"
      - "     Start after = 5 Minute / or disable"
      - "     -> Hot Corners"
      - "       Left Top = Put Display to Sleep / or remember Control + Command + Q"
      - " -> Dock"
      - "    [ ] Double-click a window's title bar to"
      - "    [ ] Show recent applications in Docks"
      - "   -> Battery"
      - "      [x] Show Percentage"
      - "   -> Spotlight"
      - "      [ ] Show in Menu Bar"
      - " -> Mission Control"
      - "    [ ] Automatically rearrange Spaces based on most recent use"
      - "    [x] Displays have separate Spaces (to enable menu bar for each screen)"
      - " -> Users & Groups"
      - "    Select your user"
      - "     -> Login Items"
      - "        Dropbox"
      - "        Google Drive"
      - "        (maybe app setting) Rectangle"
      - "        (maybe app setting) AlDente"
      - "    Guest User"
      - "      [ ] Allow guests to log in to this computer"
      - "    Login Options"
      - "      Display login window as: Name and password"
      - " -> Security & Privacy"
      - "   -> General"
      - "      [x] Required password immediately"
      - "   -> FileVault"
      - "      Turn On"
      - "   -> Firewall"
      - "      Turn On"
      - " -> Keyboard"
      - "   -> Keyboard"
      - "      [ ] Adjust keyboard brightness in low light"
      - "      [x] Turn keyboard backlight off after 5 secs"
      - "      Touch Bar hows: Expanded Control Strip"
      - "      Press fn key to: Do Nothing"
      - "      Press and hold fn key to: Show F1, F2, etc. Keys"
      - "      [x] Use F1, F2 ....  aka Press Fn key to: Show F1,F2"
      - "     -> Modifier Keys..."
      - "        Select keyboard: Unknown external keyboard"
      - "          Option Key: Command"
      - "          Command Key: Option"
      - "   -> Text"
      - "      Remove all Replace/With combinations"
      - "      [ ] Correct spelling automatically"
      - "      [ ] Capitalize words automatically"
      - "      [ ] Add full stop with double-space"
      - "      [ ] Use smart quotes and dashes"
      - "   -> Shortcuts"
      - "      -> Display"
      - "         [ ] Decrease display brightness"
      - "         [ ] Increase display brightness"
      - "   -> Input Sources"
      - "      German"
      - "      Russian - QWERTY"
      - "   -> Dictation"
      - "      Dictation: Off"
      - "      Shortcut: Off"
      - " -> Trackpad"
      - "   -> Point & Click"
      - "      [ ] Look up & data detectors"
      - "      [x] Tap to click"
      - "   -> Scroll & Zoom"
      - "      [ ] Scroll direction: Natural"
      - " -> Displays"
      - "   -> Night Shift"
      - "      Schedule: Sunset to Sunrise"
      - " -> Date & Time"
      - "   -> Clock"
      - "      [x] Show date and time in menu bar"
      - " -> Sharing"
      - "      Computer Name: (take what you like)"
      - " -> Time Machine"
      - "      [x] Back Up Automatically"
      - "      [x] Show Time Machine in menu bar"
      - "Applications"
      - " -> Finder"
      - "   -> Preference"
      - "      -> General"
      - "        [ ] for <all>: Show these items on the desktop"
      - "        New Finder windows show: /Users/<home>"
      - "      -> Sidebar"
      - "        [ ] iCloud Drive"
      - "        [ ] Shared"
      - "        [ ] Recent Tags"
      - "        Select rest as liked"
      - "   -> Go -> Connect to Server.."
      - "      afp://..."
      - "   -> Favourites (left bar)"
      - "      Desktop"
      - "      <home>"
      - "      Dropbox"
      - "      Google Drive"
      - "      AirDrop"
      - "      Applications"
      - " -> KeePassX"
      - "   -> Preference"
      - "     -> Security"
      - "        [x] Clear clipboard after 30"
      - "        [x] Lock database after inactivity of 180"
      - " -> Messages"
      - "   -> Preferences"
      - "     -> Tab iMessage"
      - "       -> In left tab select account to disable"
      - "         -> Click Sign Out"
      - " -> FaceTime"
      - "   -> Preferences"
      - "     -> Click Sign Out"
      - " -> AlDente"
      - "    Setup"
      - " -> Dropbox"
      - "    Login"
      - " -> Google Drive"
      - "    Setup, sync add to startup"
      - " -> Sound Control"
      - "    Start and install User Audio Driver"
      - "    Enter Licence (see NAS - OSX)"
      - " -> Banking 4X"
      - "    Enter Licence (see Password Manager)"
      - " -> Beyound Compare"
      - "    Enter Licence and setup (see NAS - Office)"
      - " -> Balsamiq Mockups"
      - "    Enter Licence"
      - " -> JetBrains Toolbox"
      - "    Login"
      - " -> Adobe Acrobat Reader DC"
      - "   -> Preferences"
      - "     -> Documents"
      - "        [x] Remember current state of Tools Pane"

- name: Remove the 'last login' message from the terminal
  file:
    path: "~/.hushlogin"
    state: touch
