# Avoid overwrite
.rc_secret

# OSX
.DS_Store
.Trash
.local
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Google Drive

# Tools
.cache
.httpie
.grip
.vagrant.d
.ansible_galaxy
.gmvault
gmvault-db
.IntelliJIdea15
.idea
lony.iml
.rstudio-desktop
.Rhistory
.CFUserTextEncoding
.autoenv_authorized
.autoenv_authorized.tmp
.byobu
.cups
.docker
.dropbox
.npm
.oracle_jre_usage
.pgadmin_histoqueries
.subversion
Calibre-Bibliothek
.lesshst
.pgpass
resources
.config
META-INF
.nvm
.node*
.gcdt
.ramudaignore
.ApacheDirectoryStudio
.vscode
.keepassx
VirtualBox VMs

# Java
.m2

# Python
.cookiecutter_replay
.cookiecutters
.ipython
.jupyter
.virtualenvs
.pylint.d

# Ruby
.bundle
.gem
.rbenv
.berkshelf
.chef

# Bash
.bash_history
.bash_sessions
.sh_history
.profile

# Zsh
.zcompdump
.zcompdump.zwc
.zcompcache
.zhistory
.zsh_history
.zprofile
.zshenv
.zlogin
.zlogout

# SSH
.ssh/known_hosts
.ssh/*.pem
.ssh/*.pub
.ssh/id_rsa

# VIM
.viminfo
.vim

# AWS
.aws/credentials

# GIT
.gitconfig
