---

sudo: required
language: objective-c
osx_image: xcode9.1

branches:
  only:
    - master

before_install:
  # Uninstall existing brew installation
  - 'yes | ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall)"'

script:
  # Run and test
  - 'yes |./setup.sh'

  # # Test idempotence
  # - idempotence=$(mktemp)
  # - 'travis_wait 60 ./setup.sh | tee -a ${idempotence}'
  # - >
  #   tail ${idempotence}
  #   | grep -q 'changed=0.*failed=0'
  #   && (echo 'Idempotence test: pass' && exit 0)
  #   || (echo 'Idempotence test: fail' && exit 1)
