---

mas_email: ""
mas_upgrade_all_apps: yes
mas_apps:
  - { id: 1013897218, name: "App Cleaner (4.2)" }
  - { id: 926711151,  name: "Banking 4X (6.8.5)" }
  - { id: 497799835,  name: "Xcode (9.0)" }
  - { id: 425424353,  name: "The Unarchiver (3.11.3)" }

dockutil_remove:
  - "Siri"
  - "Launchpad"
  - "Mail"
  - "Contacts"
  - "Calendar"
  - "Notes"
  - "Reminders"
  - "Maps"
  - "Photos"
  - "Messages"
  - "FaceTime"
  - "iTunes"
  - "iBooks"
  - "Downloads"
  - "Terminal"
dockutil_persist:
  - { name: "Activity Monitor",     path: "/Applications/Utilities/Activity Monitor.app", pos: 1}
  - { name: "ScanSnap Manager",     path: "/Applications/ScanSnap/ScanSnap Manager.app",  pos: 2}
  - { name: "Preview",              path: "/Applications/Preview.app",                    pos: 3}
  - { name: "System Preferences",   path: "/Applications/System Preferences.app",         pos: 4}
  - { name: "App Store",            path: "/Applications/App Store.app",                  pos: 5}
  - { name: "Banking 4X",           path: "/Applications/Banking 4X.app",                 pos: 6}
  - { name: "VLC",                  path: "/Applications/VLC.app",                        pos: 7}
  - { name: "Microsoft PowerPoint", path: "/Applications/Microsoft PowerPoint.app",       pos: 8}
  - { name: "Microsoft Excel",      path: "/Applications/Microsoft Excel.app",            pos: 9}
  - { name: "Microsoft Word",       path: "/Applications/Microsoft Word.app",             pos: 10}
  - { name: "Beyond Compare",       path: "/Applications/Beyond Compare.app",             pos: 11}
  - { name: "KeePassX",             path: "/Applications/KeePassX.app",                   pos: 12}
  - { name: "Google Chrome",        path: "/Applications/Google Chrome.app",              pos: 13}
  - { name: "Firefox",              path: "/Applications/Firefox.app",                    pos: 14}
  - { name: "Safari",               path: "/Applications/Safari.app",                     pos: 15}
  - { name: "iTerm",                path: "/Applications/iTerm.app",                      pos: 16}
  - { name: "Visual Studio Code",   path: "/Applications/Visual Studio Code.app",         pos: 17}
  - { name: "Sublime Text",         path: "/Applications/Sublime Text.app",               pos: 18}

duti_associations:
  # Sublime
  - bundle_id: com.sublimetext.3
    utis:
      - public.plain-text
      - md
      - .md

  # VLC
  - bundle_id: org.videolan.vlc
    utis:
      - avi
      - flac
      - flv
      - m4a
      - mkv
      - mov
      - mp3
      - mp4
      - mpg
      - wav
      - wmv

# See https://github.com/herrbischoff/awesome-osx-command-line
sys_conf_commands:
  - "defaults write -g QLPanelAnimationDuration -float 0" # Disable animations when opening a Quick Look window
  - "defaults write -g NSWindowResizeTime -float 0.001" # Disable full screen animation of OS X
  - "defaults write NSGlobalDomain NSAutomaticWindowAnimationsEnabled -bool false" # Disable animations when opening and closing windows
  - "defaults write NSGlobalDomain NSWindowResizeTime -float .001" # Accelerated playback when adjusting the window size (Cocoa applications)
  - "defaults write NSGlobalDomain KeyRepeat -int 0" # The keyboard react faster to keystrokes
  - "defaults write NSGlobalDomain InitialKeyRepeat -int 10" # -"-
  - "defaults write NSGlobalDomain AppleShowAllExtensions -bool true" # Display file extensions in Finder
  - "defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode -bool true" # Enable the expand save panel by default
  - "defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode2 -bool true" # -"-
  - "defaults write NSGlobalDomain AppleShowScrollBars -string 'Always'" # Always show scrollbars ( Possible values: `WhenScrolling`, `Automatic` and `Always`)
  - "defaults write NSGlobalDomain PMPrintingExpandedStateForPrint -bool true" # Expand print panel by default
  - "defaults write NSGlobalDomain PMPrintingExpandedStateForPrint2 -bool true" # -"-
  - "defaults write NSGlobalDomain NSAutomaticCapitalizationEnabled -bool false" # Disable auto capitalize
  - "defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false" # Disable auto period insert
  - "defaults write NSGlobalDomain AppleMiniaturizeOnDoubleClick -bool false" # Double-click a window's title bar to minimize
  - "defaults write NSGlobalDomain com.apple.swipescrolldirection -bool false" # Set scroll direction
  - "defaults write com.apple.finder AppleShowAllFiles YES" # Allowing Finder to show hidden files
  - "defaults write com.apple.finder DisableAllAnimations -bool true" # Disable animation when opening the Info window in OS X Finder (cmd⌘ + i)
  - "defaults write com.apple.finder _FXShowPosixPathInTitle -bool true" # Display full posix path in OS X Finder title Bar
  - "defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false" # Disable the extension change warning in OS X Finder
  - "defaults write com.apple.finder FXDefaultSearchScope -string 'SCcf'" # When performing a search, search the current folder by default
  - "defaults write com.apple.finder FXPreferredViewStyle -string 'clmv'" # Use list view in all Finder windows by default (Four-letter codes for the other view modes: `icnv` Icon View, `Nlsv` List View, `clmv` Column View, `Flwv` Cover Flow View)
  - "defaults write com.apple.finder FXInfoPanesExpanded -dict General -bool true OpenWith -bool true Privileges -bool true" # Expand the following File Info panes
  - "defaults write com.apple.finder NewWindowTarget -string 'PfHm'" # New window points to home
  - "defaults write com.apple.finder ShowStatusBar -bool true" # Show status bar in finder
  - "defaults write com.apple.dock launchanim -bool false" # Disable animations when you open an application from the Dock
  - "defaults write com.apple.dock expose-animation-duration -float 0.1" # Make all animations faster that are used by Mission Control
  - "defaults write com.apple.dock autohide-delay -float 0" # Disable the delay when you hide the Dock
  - "defaults write com.apple.dock tilesize -int 25" # Set size of dock menu
  - "defaults write com.apple.dock mineffect -string 'scale'" # Change minimize/maximize window effect
  - "defaults write com.apple.dock minimize-to-application -bool true" # Minimize windows into their application’s icon
  - "defaults write com.apple.desktopservices DSDontWriteNetworkStores true" # Prevent .DS_Store file creation over network connections
  - "defaults write com.apple.desktopservices DSDontWriteUSBStores -bool true" # Prevent .DS_Store file creation on USB devices
  - "defaults write com.apple.screencapture disable-shadow -bool true" # Screenshots without window shadows
  - "defaults write com.apple.TextEdit RichText -int 0" # Use plain text as default format in TextEdit
  - "defaults write com.apple.Safari WebKitInitialTimedLayoutDelay 0.25" # Disable the standard delay in rendering safari a web page
  - "defaults write com.apple.screensaver askForPassword -int 1" # Require password immediately after sleep or screen saver begins
  - "defaults write com.apple.screensaver askForPasswordDelay -int 0" # -"-
sys_conf_commands_root:
  - "/System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -deactivate -stop" # Deactivate and Stop the Remote Management Service
  - "defaults write /Library/Preferences/com.apple.TimeMachine DoNotOfferNewDisksForBackup -bool true" # Prevent Time Machine from Prompting to Use New Hard Drives as Backup Volume
  - "/usr/libexec/ApplicationFirewall/socketfilterfw --setglobalstate on" # Enable Application Firewall
